
#carbanaName {
  color: white;
  font-size: 110%;
}
a {
  color:white;
}
a:hover{
  color: lightblue;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00619E;
}
