section {
  display: flex;
  max-width: 90%;
}
.inventoryFlex {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
  max-height: 75vh;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 5em;
  text-align: center;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  justify-content: space-between;
}
.inventoryFlex:hover{
  transform: scale(1.1);
}
.carsChild {
  max-width: 50%;
  max-height: 50vh;
  color: grey;
}
img {
  max-width: 50%;
  max-height: 50vh;
}
select {
  width: 25em;
  height: 3em;
}
.filterCars{
  display: inline-block;
  background-color: grey;
  max-width: 50%;
  max-height: 10vh;
  text-align: center;
  margin-left:35%;
}
#buyImg {
  max-width: 100%;
  margin-left: 5%;
  margin-top: 5%;
}
#buyImg2 {
  max-width: 100%;
}
