<div class="filterCars">
  <select (change)="selectCondition($event)">
    <option value="None">Condition</option>
    <option value="true">New Vehicles</option>
    <option value="false">Used Vehicles</option>
  </select>
</div>
<section>
<div class="inventoryFlex animate__animated animate__fadeIn" *ngFor="let inventory of filteredList">
  <a  class ="carsChild"routerLink="/car/{{inventory.id}}">
      <img src="{{inventory.imageList[0].imageUrl}}">
      <h1>{{cars.year}} {{cars.make}} {{cars.model}}</h1>
      <p>Price: ${{inventory.price}}:</p>
      <p>Color: {{inventory.color}}</p>
      <p>Condition: {{inventory.new | newUsed}}</p>
  </a>
</div>
</section>
<div>
  <img id="buyImg" src="assets/images/buy.png">
  <img id="buyImg2" src="assets/images/buy2.png">
</div>
