<div class="filterCars">
  <h2><span>Select Condition:</span></h2>
  <select (change)="selectCondition($event)">
    <option value="None">Condition</option>
    <option value="true">New Vehicles</option>
    <option value="false">Used Vehicles</option>
  </select>
</div>
<section>
<div class="inventoryFlex" *ngFor="let inventory of filteredList">
  <a  class ="carsChild"routerLink="/car/{{inventory.id}}">
      <img src="{{inventory.imageList[0].imageUrl}}">
      <h1>{{cars.year}} {{cars.make}} {{cars.model}}</h1>
      <p>Price: ${{inventory.price}}:</p>
      <p>Color: {{inventory.color}}</p>
      <p>Condition: {{inventory.new | newUsed}}</p>
  </a>
</div>
</section>
