<section class="carouselMain">

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <a href="/search">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
      <img src="assets/images/hyndai.jpg" class="d-block w-100" alt="ImageOne">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="assets/images/specials.png" class="d-block w-100" alt="ImageTwo">
    </div>
      <div class="carousel-item" data-interval="5000">
        <img src="assets/images/home.png" class="d-block w-100" alt="ImageTwo">
      </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </a>
</div>
  <section class="welcomeCarbana">
    <h2>Welcome to Carbana Chicago</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h4>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
<section class="videoBox">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets/videos/honda.mp4" type="video/mp4">
  </video>
</section>

</section>
<section class="widgetArea">
<ul class ="ulText">
  <div>
    <p><img class ="widgets" src = "assets/images/widget1.png"></p>
    <h3>Transparent Pricing</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation </p>
    <p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div>
   <p><img class ="widgets" src = "assets/images/widget2.png"></p>
    <h3>Flexible Test Drive</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation </p>
    <p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <div>
    <p><img class ="widgets" src = "assets/images/widget3.png"></p>
    <h3>Streamlined Purchase</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation </p>
    <p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</ul>
</section>
<section class="locationCarbana">
  <h2>Carbana Location</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h4>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section class ="googleMaps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.7126023946466!2d-88.06129308434689!3d42.04934277920898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880faf70fc937289%3A0x8ed3d1ad6c49ba7d!2sBob%20Rohrman&#39;s%20Schaumburg%20Ford!5e0!3m2!1sen!2sus!4v1621306400804!5m2!1sen!2sus" width="1400" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>






