.carousel {
  max-width: 75%;
  max-height: 75vh;
  margin-left: auto;
  margin-right: auto;
}

.ulText {
  margin-top: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 75%;
  max-height: 75vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.widgets:hover{
  transform: scale(1.1);
}
.widgets {
max-height: 5em;
}
