<p>Price: ${{inventory.price}}:</p>
<p>VIN Number: {{inventory.vin}}</p>
<p>Color: {{inventory.color}}</p>
<p>Fuel Efficiency: {{inventory.fuelEfficiency}}</p>
<p>New: {{inventory.isNew}}</p>
{{inventory.imageList[0].imageUrl}}
<section class="carouselMain">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <img src="{{inventory.imageList[0].imageUrl}}" class="d-block w-100" alt="ImageOne">
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="{{inventory.imageList[1].imageUrl}}" class="d-block w-100" alt="ImageTwo">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
