<section class="inventorySection animate__animated animate__fadeIn">
  <h1>Basic Info:</h1>
<div class ="carsChild">
  <p>Price: ${{inventory.price}}</p>
<p>VIN Number: {{inventory.vin}}</p>
<p>Color: {{inventory.color}}</p>
<p>Fuel Efficiency: {{inventory.fuelEfficiency}}</p>
<p>Condition: {{inventory.new | newUsed}}</p>
</div>
</section>
<section class="carouselMain">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" id="slideshow">
      <div class="carousel-item" data-interval="3000" *ngFor="let image of imageList, let i = index" id="{{i}}">
        <img src="{{image.imageUrl}}" class="d-block w-100">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="extras">
  <img class="extrasImg" src ="assets/individual_car/android.png">
  <img class="extrasImg"  src ="assets/individual_car/apple.png">
  <img class="extrasImg"  src ="assets/individual_car/bluetooth.png">
  <img class="extrasImg"  src ="assets/individual_car/camera.png">
  <img class="extrasImg"  src ="assets/individual_car/interior.png">
  <img class="extrasImg"  src ="assets/individual_car/keyless.png">
</section>


