<div class="filterCars">
  <h2><span>Select a Make:</span></h2>
  <select (change)="selectChangeHandler($event)">
    <option value="None">Make</option>
    <option value="Ford">Ford</option>
    <option value="Honda">Honda</option>
    <option value="Hyndai">Hyndai</option>
  </select>
</div>
<section>
<div class="carsFlex animate__animated animate__fadeIn" *ngFor="let car of filteredList">
  <a class ="carsChild" routerLink="/inventory/{{car.id}}">
  <img src="{{car.stockPhoto}}">
  <h3>{{car.year}} {{car.make}} {{car.model}}</h3>
  <p>Trim: {{car.trim}}</p>
  <p>Condition {{car.isNew}}</p>
  <p>Engine: {{car.engine}}</p>
  </a>
</div>
</section>
