.carsFlex {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  max-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  border-style: solid;
  border-color: #00619E;
  background-color: blue;
}
.carsChild {
  width: 20%;
  height: 20%;
  background-color: red;
}
