.carsFlex {
  display: flex;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #00619E;
  background-color: blue;
}
.carsChild {
  background-color: red;
}
