<section class="filterCars">
  <label for="carsOptions">Filter by: </label>
  <select name="cars" id="carsOptions">
    <option value="volvo">Make</option>
    <option value="saab">Ford</option>
    <option value="mercedes">Honda</option>
    <option value="audi">Hyndai</option>
  </select>
  <input type="submit" value="Submit">
</section>

<section class="carsFlex" *ngFor="let car of cars">
  <a routerLink="/inventory/{{car.id}}">
  <div class ="carsChild">

  <img src="{{car.stockPhoto}}">
  <h3>Make: {{car.make}}:</h3>
  <h4>Model: {{car.model}}</h4>
  <p>Trim: {{car.trim}}</p>
  <p>Year: {{car.year}}</p>
  <p>Condition {{car.isNew}}</p>
  <p>Engine: {{car.engine}}</p>

  </div>
  </a>
</section>
